---
    import Layout from '../layouts/Layout.astro'
---
<Layout>

    <h1 class="text-6xl">Inicios</h1>
    <a href="/nosotros">Ir a nosotros</a>
    <br>
    <a href="/tienda">Ir a tienda</a>

</Layout>

